<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;

 
}
 .vertical-line{
  width: 1px;
  background-color: blue;
  height: 50%;
  float: left;
  border: 2px ridge blue ;
  border-radius: 2px;
}
</style>

<table>
    <thead>
      <th> <font size="4">Live Scores</th>
      
    </thead>
    <tbody>
      <tr ng-repeat="scores in liveScore" >
       
       
        
        <td>
          <a href="#">
          <b>{{ scores.title }}</b> <br>
          
          </a>
        </td>
          
        

        <td>
         {{scores.description}} <br>
         <p style="color:blue"> Status </p>
        </td>
        
        
      </tr> <br>
     </tbody>
    </table>